body {
    background-color:rgb(220, 224, 221);
margin: 0mm;
    ;
    font-family:  monospace;
    
    
}

h1 {
    font-size: 60px;
}
 

.toptop {
    margin-top: 0mm;
    background-color: rgb(31, 53, 9);
    color:rgb(152, 245, 163);
    text-align: center;
    font-family: monospace;
    
}

.table {
    border-spacing: 30px;
}



.prof {
border-radius: 50px;
}
.TOPCONTAINER {
    text-align: center;


}

    .button {
        background-color: #78dd81; 
        border: 20px;;
        color: rgb(18, 187, 32);
        padding: 15px 32px;
        text-align: center;
        text-decoration-color: rgb(255, 81, 0);
        display:inline-block;
        font-size: 16px;
  }
  

.you {
    color: red;
}

.last {
    background-color: rgb(175, 182, 109);
}
    
footer {
    text-align: center;
    padding: 3px;
    background-color:  rgb(31, 53, 9);
    color: white;
  }
  
  
  
  





